# Explicitly declare text files you want to always be normalized and converted to native line endings on checkout.
*.sh text eol=lf
*.pem text eol=lf
id_rsa text eol=lf
*.pub text eol=lf
*.json text eol=lf
*.ps1 text eol=lf
*.conf text eol=lf
Dockerfile text eol=lf
*.cs text eol=lf
